/*------------
---- Root ----
--------------*/

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #ffa321;
    text-decoration: none;
}

/*--------------
-- Navigation --
--------------*/
.header {
    width: 100%;
    height: auto;
}

.navigation {
  max-width: 1300px;
  min-width: 100%;
  background: rgba(255,255,255,.2);
}


.logo img {
    width: 250px;
    max-width: 100%;
    cursor: pointer;
}

.social-media ul { 
  display: flex;  
  list-style-type: none;
  margin-top: 20px;
  transform: translate(-20%);
}

.social-media ul li {
    margin-right: 15px;
}

nav ul li span {
    font-size: 20px; 
 }

.nav-bar {
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
  margin-right: 35px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 30px;
}

.logo {
  width: 250px;
  height: auto;
}

/*------------
---- hero ----
--------------*/
.column span {
    font-size: 40px;
}

.column span p{
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-body {    
    flex: 1 0 auto;
    padding: 40px 40px 0 40px;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.container {
    flex: 1 auto auto;
    position: relative;
    margin: 0 auto;    
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.column {
    display: block;
    text-align: center;    
    flex: 1 1 0;
}
.hero img {
    width: 250px;
    border-radius: 100%;
}
.hero-foot {
    color: #000;
    margin: 0;
}
/*--------------
----- About ----
----------------*/
.about-root {
    display: flex;    
    background:#36454F;
    color: #fff;
}

.about-root span {
    font-size: 35px;
    padding-left: 40px;
}


.coll-1 p{
    text-align: left;
    font-size: 25px;
}

.coll-1 {
    flex: 1 1 0;
    display: inline-block;
    padding: 80px 0 80px 0;
    text-align: center;
    vertical-align: top;    
}

.fa-html5 {
    color: #F16529;
    padding: 25px 10px 0 0;
    transform: translate(70%)
}

.fa-css3-alt {
    color: #2965f1;
    padding: 25px 10px 0 0;
    transform: translate(70%)
}

.fa-js {
    color: #f0db4f;
    padding: 25px 10px 0 0;
    transform: translate(70%)
}
/*--------------
---- Footer ----
----------------*/
.footer {
  display: flex;
  text-align: center;
  font-size: 14px;
}

.copyright p {
  color: #000;
  text-align: center;
}
